*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:sans-serif;
    line-height:1.8;
    color:#222;
}

header{
    background:#111;
    padding:20px;
}

nav{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#ff6b00;
}

.hero{
    min-height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:#111;
    color:white;
    padding:40px;
}

.container{
    width:90%;
    max-width:1000px;
    margin:auto;
    padding:80px 0;
}

h1{
    font-size:3rem;
    margin-bottom:20px;
}

h2{
    margin-bottom:20px;
}

.card{
    background:#f7f7f7;
    padding:25px;
    margin:20px 0;
    border-radius:15px;
}

.btn{
    display:inline-block;
    background:#ff6b00;
    color:white;
    padding:15px 30px;
    text-decoration:none;
    border-radius:999px;
    margin-top:20px;
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:40px;
}
